# Python
venv/
env/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Databases & local stores
app.db
*.sqlite3
*.db

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# Environment variables
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
# Firebase
.firebase/
